<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not found</title>
    <%- include('partials/head') %> <%- include('partials/navigation') %>
    <!-- <style class="">
      body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f8f8f8;
      }
      .container {
      text-align: center;
      }
      h1 {
      font-size: 3em;
      color: #333;
      }
      p {
      font-size: 1.2em;
      color: #666;
      }
      .home-button {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1em;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      }
      .home-button:hover {
      background-color: #0056b3;
      }
    </style> -->
  </head>
  <body>
    <div class="container d-flex vh-100 flex-column justify-content-center align-items-center">
      <h1>404</h1>
      <p>Page Not Found</p>
      <a href="/" class="home-button">Go Home</a>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>
