<!-- <footer>
    <div class="footer-content">
        <p class="h4">Pews 2018 &copy;</p>
        <ul class="social-media">
            <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
        </ul>
    </div>
</footer> -->
<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
      >
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary"
        >First node api with express</span
      >
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://facebook.com">
          <img
            src="/img/Facebook.svg"
            alt="Instagram"
            class="bi"
            widht="36"
            height="36"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://instagram.com">
          <img
            src="/img/Instagram.png"
            alt="Instagram"
            class="bi"
            widht="36"
            height="36"
          />
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://x.com/">
          <img
            src="/img/X.png"
            alt="Facebook"
            class="bi"
            widht="36"
            height="36"
          />
        </a>
      </li>
    </ul>
  </footer>
</div>
